# Entornos virtuales
venv/
env/
ENV/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones locales de VS Code (Opcional)
.vscode/